<div class="container">
  <form name="formLopHoc">
    <div class="row">
      <div class="col-sm-6 offset-3">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Mã: </label>
          <input
            type="text"
            class="form-control"
            name="maLop"
            ng-model="maLop"
            required
          />
          <div
            class="error"
            style="color: red"
            ng-show="formLopHoc.maLop.$error.required"
          >
            {{errors.maLop}}
          </div>
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Tên: </label>
          <input
            type="text"
            name="tenLop"
            class="form-control"
            ng-model="tenLop"
            required
          />
          <div
            class="error"
            style="color: red"
            ng-show="formLopHoc.tenLop.$error.required"
          >
            {{errors.tenLop}}
          </div>
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"
            >Số lượng sinh viên:
          </label>
          <input
            type="number"
            name="soLuongSv"
            class="form-control"
            ng-model="soLuongSv"
            required
          />
          <div
            class="error"
            style="color: red"
          >
            {{errors.soLuongSv}}
          </div>
        </div>
        <div class="mt-0">
          <a type="submit" class="btn btn-primary" ng-click="themLopHoc($event)"
            >Add</a
          ><a
            type="submit"
            class="btn btn-primary m-lg-5"
            ng-click="suaLopHoc($event, id)"
            >Edit</a
          >
        </div>
      </div>
    </div>
  </form>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Mã lớp</th>
        <th scope="col">Tên lớp</th>
        <th scope="col">Số lượng sinh viên</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in lops">
        <th scope="row">{{$index}}</th>
        <td>{{item.maLop}}</td>
        <td>{{item.tenLop}}</td>
        <td>{{item.soLuongSv}}</td>
        <td>
          <a href="" ng-click="detailLop($event, item.id)"
            ><i class="fa-solid fa-eye">Detail</i></a
          >
          <a href="" ng-click="xoaLopHoc($event, item.id)"
            ><i class="fa-solid fa-square-minus">Delete</i></a
          >
        </td>
      </tr>
    </tbody>
  </table>
</div>
