<div class="container">
  <div class="row">
    <div class="col-sm-4 offset-4">
      <div class="center">
        <form>
          <div class="mb-3">
            <label class="form-label">Mã</label>
            <input
              type="text"
              class="form-control"
              ng-model="detailNhanVien.ma"
            />
          </div>
          <div class="mb-3">
            <label class="form-label">Tên</label>
            <input
              type="text"
              class="form-control"
              ng-model="detailNhanVien.ten"
            />
          </div>
          <div class="mb-3">
            <label class="form-label">Giới tính</label> <br />
            <span>Nam: </span
            ><input
              type="radio"
              value="Nam"
              ng-model="detailNhanVien.gioiTinh"
            />
            <span>Nữ: </span
            ><input
              type="radio"
              value="Nu"
              ng-model="detailNhanVien.gioiTinh"
            />
          </div>
          <div class="mb-3">
            <label class="form-label">Địa chỉ</label>
            <select class="form-select" ng-model="detailNhanVien.diaChi">
              <option value="Hai Duong">Hai Duong</option>
              <option value="Nam Dinh">Nam Dinh</option>
              <option value="Ha Noi">Ha Noi</option>
            </select>
          </div>
        </form>
      </div>
      <a  class="btn btn-success" ng-click="update(detailNhanVien.id)">Update now</a
      ><a href="#hien-thi" class="btn btn-warning">Back to home</a>
    </div>
  </div>
</div>
